*{
    font-size: 15px;
}

nav{
    position: fixed;
}

.spacer{
    flex:1;
}

.address{
    color: #FFF;
    padding-right: 10px;
}

.navbar-Brand:hover{
    text-decoration:none;
}

.nav-icon{
    height: 24px;
    width: 12px;
    text-align: center;
}

.nav-icon:hover{
    cursor: pointer;
}