*{
    font-size: 15px;
}

nav{
    position: fixed;
}

.navbar{
    background-color: #f5f5f5;
    height: 50px;
}

.navbar-Brand{
    font-size: 25px;
    color: #8f7c72;
}

.navbar-Brand:hover{
    font-size: 25px;
    color: #8f7c72;
}

.navbar-Link{
    font-size: 15px;
    color: #8f7c72;
}

.navbar-Link:hover{
    font-size: 15px;
    color: #8f7c72;
}

.spacer{
    flex:1;
}

.address{
    color: #8f7c72;
    padding-right: 10px;
    font-size: 15px;
}

.navbar-Brand:hover{
    text-decoration:none;
}

.nav-icon{
    height: 24px;
    width: 12px;
    text-align: center;
}

.nav-icon:hover{
    cursor: pointer;
}

.externalLinkWrapper{
    height:30px;
    color: #FFF;
    text-align:center;
}

.externalLink{
    color: #8f7c72;
    padding:10px;
}

.externalLink:hover{
    text-decoration: none;
    color:darkslategray;
    font-weight: 3000;
    transition:1s;
}