.aboutContainer{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    min-height: 755px;
    float: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.aboutText{
    color: black;

}