.aboutContainer{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    float: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.aboutText{
    color: black;

}