.emissionsContainer{
    background-color: #fff;
    float: center;
    padding-bottom: 0px;
    width: 100vw;
    height: 100vh;
    min-height: 755px;
    padding-top: 3%;
    padding-left: 30px;
    padding-right: 30px;
}