.footerContainer{
    background-color: #9dba94;
    position: absolute;
    /*bottom: 0;*/
    height: 200px;
    width: 100%;
}

.copyrightContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #82ac7c;
}

.copyright{
    font-size: 10px;
    text-align: center;
    width: 100%;
    background-color: #82ac7c;
    height: 100%;
    padding-top: 15px;
}