.homeContainer{
    background-color: white;
    width: 100vw;
    height: 100vh;
    min-height: 755px;
    float: center;
    padding-top: 40px;
    flex-direction: row;
    /*background-image: url('background.jpeg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;*/
}

.homeContent{
    display: flex; 
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    height: 80%;
}

.spacer{
    width:2%;
}

.homeLeft{
    padding-top: 15%;
    padding-left: 40px;
    width: 48%;
    height: 100%;
}

.homeHeaderContainer{
    padding-right: 30%;
}

.homeHeader{
    font-size: 30px;
}

.line{
    border-top: solid;
    border-color: #9dba94;
    margin-bottom: 10px;
}

.homeRight{
    padding-left: 20%;
    padding-top: 10%;
    width: 48%;
    height: 100%;
}

.plant-Link{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #8f7c72;
    width: 100px;
    height: 100%;
} 

.plant-Link:hover {
    text-decoration: none;
    color: #9dba94;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: 0.1s;
    border-bottom-color: #9dba94;
}

