.landingContainer{
    width: 100%;
    height: 100vh;
    /*background-image: url('background2.jpeg');*/
    background-position: fixed;
    background-size: cover;
    float:center;
}

.landingContent{
    height: 100%;
}