.landingContainer{
    width: 100vw;
    height: 100vh;
    /*background-image: url('background2.jpeg');*/
    padding-top: 40vh;
}

.landingContent{
    width: 100vw;
    height:100vh;
    position: absolute;
    margin: auto;
}

.treeCountNumber{
    position: static;
    width: 100%;
    text-align: center;
    font-size: 75px;
    color: #82ac7c;
}

.treeCount{
    position: static;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #D4D4D4;
}

.arrowContainer{
    display: flex;
    justify-content: center;
}

.icon{
    fill:#D4D4D4;
}

.icon:hover{
    fill:#82ac7c;
    transition:1s;
}