.landingContainer{
    width: 100vw;
    height: 100vh;
    /*background-image: url('background2.jpeg');*/
    padding-top: 40vh;
}

.landingContent{
    width: 100vw;
    margin: auto;
}

.treeCountNumber{
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #fff;
}

.treeCount{
    position: static;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #D4D4D4;
}

.comingSoon{
    width: 100%;
    text-align: center;
    color: #fff;
    display: none;

}

.arrowContainer{
    display: flex;
    justify-content: center;
}

.icon{
    fill:#D4D4D4;
}

.icon:hover{
    fill:#82ac7c;
    transition:1s;
}

@media only screen and (max-width: 1000px) {
    .comingSoon{
        display:block;
    } 

    .arrowContainer{
        display: none;
    }
  }
