*{
    border-width: 1px;
}

.plantContainer{
    background: white;
    width: 100vw;
    height: 100vh;
    min-height: 755px;
    float: center;
    padding-top: 40px;
    flex-direction: row;
}

.plantContent{
    display: flex; 
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.spacer{
    width:2%;
}

.plantLeft{
    padding-top: 10%;
    padding-left: 40px;
    width: 48%;
    height: 100%;
}

.plantHeaderContainer{
    padding-right: 30%;
}

.plantHeader{
    font-size: 30px;
}

.line{
    border-top: solid;
    border-color: #9dba94;
    margin-bottom: 10px;
}

.plantLeftContainer{
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
}

.treeButton{
    padding-top: 4px;
    padding-bottom: 4px;
    width: 16.666666%;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

.treeButton:hover{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    width: 16.666666%;
    background-color: lightgray;
}

.activeTreeButton{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    width: 16.666666%;
    background-color: lightgray;
    transition: 0.5s;
}

.textContainer{
    padding-top: 30px;
    padding-bottom: 100px;
}

.paymentContainer{
    height: 30px;
    display: flex;
    flex-direction: row;
}

.tipContainer{
    width:30%;
    display: flex;
    flex-direction: column;
}

.tipMenu{
    height:100px;
    width:100%;
}

.tipButton{
    width: 100%;
    height: 30px;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

.tipButton:hover{
    border-radius:5px;
    width: 100%;
    height: 30px;
    background-color: lightgray;
}

.customTipButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16.666666%;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

.customTipButton:hover{
    display: flex;
    flex-direction: row;
    border-radius:5px;
    width: 100%;
    height: 16.666666%;
    background-color: lightgray;
}

.tipMenuButton{
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
}

.dollarsign{
    width:10%;
}

.customInput{
    width:90%;
}

.coinContainer{
    width:30%;
    display: flex;
    flex-direction: column;
}

.coinButton{
    width: 100%;
    height: 50%;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

.coinButton:hover{
    border-radius: 5px;
    width: 100%;
    height: 50%;
    background-color: lightgray;
    transition: 0.5s;
}

.coinMenuButton{
    padding-top: 4px;
    padding-bottom: 4px;
    height:30px;
}

.totalContainer{
    height: 100%;
    display:flex;
    flex-direction: row;
    width:60%;

}

.total{
    padding-top: 4px;
    width: 75%;
    height: 30px;
    text-align: center;
}

.plantRight{
    padding-left: 20%;
    padding-top: 10%;
    width: 48%;
    height: 100%;
}