.walletContainer{
    float: center;
    padding-bottom: 0px;
    width: 100%;
    height: 92%;
    padding-top: 3%;
    padding-left: 30px;
    padding-right: 30px;
}

.title{
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.cards{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 440px;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    border: solid;
}

.spacer{
    width: 20px;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}