.walletContainer{
    background-color: #fff;
    float: center;
    padding-bottom: 0px;
    width: 100%;
    height: 100vh;
    padding-top: 3%;
    padding-left: 30px;
    padding-right: 30px;
}

.title{
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom:100px;
}

.cards{

    padding-left: 20px;
    height: 440px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.spacer{
    width: 20px;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}