.buy{
    border-width: 1px;
    border-style: solid;
    position: relative;
    width: 28%;
    height: 28px;
    background-color: #9dba94;
    text-align: center;
    margin-left:auto;
    margin-right: 0;
    font-size: 15px;
}

.buy:hover{
    transition: 0.5s;
}