.buy{
    border-style: solid;
    position: relative;
    width: 150px;
    height: 30px;
    background-color: #9dba94;
    text-align: center;
    margin:0 auto;
    padding: 2px;
    font-size: 15px;
}

.buy:hover{
    border-color: #FFF;
    transition: 2s;
    color: #FFF;
    cursor: pointer;
}